In [2]:
import pandas as pd
import numpy as np

In [3]:
Persons = ["Shiv", "Ankur", "Ankit", "Rajeev", "Saswat"]
Users = Persons * 365 * 2
Groceries = np.int64(np.random.power(a=0.05, size=3650) * 10000)
Clothing = np.int64(np.random.power(a=0.01, size=3650) * 50000)
Housing = np.int64(np.random.power(a=0.01, size=3650) * 30000)
Education = np.int64(np.random.power(a=0.01, size=3650) * 50000)
Health = np.int64(np.random.power(a=0.01, size=3650) * 10000)
Travel = np.int64(np.random.power(a=0.01, size=3650) * 20000)
Entertainment = np.int64(np.random.power(a=0.6, size=3650) * 20000)
Gambling = np.int64(np.random.power(a=0.01, size=3650) * 100000)
Tax = np.int64(np.random.power(a=0.01, size=3650) * 10000)
Fines = np.int64(np.random.power(a=0.01, size=3650) * 5000)
dates = pd.date_range(start="2022-01-01", periods=365*2, freq="D")
df = pd.DataFrame({
    "Date": np.repeat(dates, 5),
    "Users": Users,
    "Groceries": Groceries,
    "Clothing": Clothing,
    "Housing": Housing,
    "Education": Education,
    "Health": Health,
    "Travel": Travel,
    "Entertainment": Entertainment,
    "Gambling": Gambling,
    "Tax": Tax,
    "Fines": Fines
})

In [4]:
df.head(10)

,Date,Users,Groceries,Clothing,Housing,Education,Health,Travel,Entertainment,Gambling,Tax,Fines
0,2022-01-01,Shiv,0,0,0,0,0,0,12529,0,0,1391
1,2022-01-01,Ankur,4807,417,0,0,0,50,258,0,0,0
2,2022-01-01,Ankit,9,0,0,0,0,0,335,0,0,0
3,2022-01-01,Rajeev,6530,0,0,0,0,0,7763,0,0,0
4,2022-01-01,Saswat,0,1,0,0,0,0,110,0,0,0
5,2022-01-02,Shiv,39,0,0,0,0,2,5284,0,0,0
6,2022-01-02,Ankur,0,0,0,0,0,0,17530,0,0,0
7,2022-01-02,Ankit,0,0,0,0,0,0,5176,0,0,0
8,2022-01-02,Rajeev,0,924,0,0,0,0,377,0,0,0
9,2022-01-02,Saswat,0,0,0,0,0,0,9355,0,0,0

In [5]:
df["Yearly"] = df["Date"].dt.year
df["Half-Yearly"] = np.where(df["Date"].dt.month <= 6, 1, 2)
df["Half-Yearly"] = df["Yearly"].astype(str) + '-' + df["Half-Yearly"].astype(str)
df["Quaterly"] = df["Yearly"].astype(str) + '-' + df["Date"].dt.quarter.astype(str)
df["Monthly"] = df["Yearly"].astype(str) + '-' + df["Date"].dt.month.astype(str)
df["Weekly"] = df["Yearly"].astype(str) + '-' + df["Date"].dt.isocalendar().week.astype(str)
df.drop(columns="Date", inplace=True)

In [20]:
x = df.groupby(["Users", "Yearly", "Half-Yearly", "Quaterly", "Monthly", "Weekly"]).sum()
x.to_csv("Data.csv")
x.sample(50)

                                                    Groceries  Clothing  \
Users  Yearly Half-Yearly Quaterly Monthly Weekly
Shiv   2023   2023-1      2023-1   2023-1  2023-4       18534        45
Ankit  2022   2022-1      2022-1   2022-1  2022-5           0         0
Rajeev 2023   2023-2      2023-4   2023-10 2023-44          7         0
       2022   2022-2      2022-4   2022-11 2022-48       2393         0
Ankit  2022   2022-1      2022-2   2022-5  2022-21       3580        61
                          2022-1   2022-1  2022-52          9         0
Shiv   2022   2022-1      2022-1   2022-3  2022-9        6983         0
       2023   2023-1      2023-2   2023-6  2023-26        439         0
Ankur  2023   2023-1      2023-1   2023-2  2023-8         822         0
Saswat 2022   2022-2      2022-3   2022-8  2022-31        163         0
       2023   2023-1      2023-1   2023-3  2023-9           0         0
Shiv   2022   2022-1      2022-1   2022-1  2022-4        1485         0
Saswat 2023   2023-1      2023-2   2023-5  2023-21        416         0
                          2023-1   2023-1  2023-4        5714         0
Rajeev 2023   2023-2      2023-3   2023-7  2023-26       3483        80
Ankur  2023   2023-2      2023-3   2023-8  2023-34       2599        20
Saswat 2022   2022-2      2022-4   2022-10 2022-39          3         0
Shiv   2023   2023-1      2023-2   2023-4  2023-14        213       759
Saswat 2022   2022-1      2022-2   2022-4  2022-14       6975         6
                          2022-1   2022-1  2022-5           0         0
Ankur  2022   2022-2      2022-4   2022-11 2022-46      14649      6877
Shiv   2022   2022-1      2022-1   2022-1  2022-5           0         0
Ankur  2023   2023-1      2023-2   2023-6  2023-26       8553      5067
Rajeev 2022   2022-2      2022-4   2022-12 2022-50       5915         0
       2023   2023-1      2023-2   2023-5  2023-18       8888         0
Saswat 2023   2023-1      2023-1   2023-3  2023-13       6136         0
Rajeev 2022   2022-1      2022-1   2022-1  2022-2        8535         0
       2023   2023-1      2023-1   2023-1  2023-1        1290       414
       2022   2022-2      2022-4   2022-10 2022-42        212     25520
Shiv   2022   2022-1      2022-1   2022-1  2022-3        8517         0
Saswat 2022   2022-1      2022-1   2022-1  2022-4         138        15
Ankit  2022   2022-2      2022-3   2022-8  2022-33          9         0
Saswat 2023   2023-2      2023-3   2023-8  2023-34       4148         0
Shiv   2023   2023-1      2023-2   2023-5  2023-20       3007       129
                          2023-1   2023-1  2023-1         632       111
              2023-2      2023-4   2023-11 2023-44          5         0
              2023-1      2023-2   2023-5  2023-22          0         0
Rajeev 2022   2022-1      2022-1   2022-2  2022-5        7844     28646
Shiv   2023   2023-2      2023-4   2023-10 2023-42        974         0
Ankur  2022   2022-1      2022-1   2022-1  2022-1          46      2577
Shiv   2022   2022-1      2022-2   2022-5  2022-20        900       715
Ankit  2023   2023-2      2023-3   2023-9  2023-37       5001         0
Shiv   2023   2023-1      2023-2   2023-5  2023-18        450         0
Ankit  2023   2023-1      2023-2   2023-4  2023-13        732       567
Shiv   2023   2023-2      2023-4   2023-10 2023-44          0     21553
Rajeev 2022   2022-2      2022-3   2022-8  2022-31       1381     55309
Saswat 2022   2022-1      2022-1   2022-1  2022-3       14219         1
Ankit  2022   2022-1      2022-1   2022-2  2022-8           0         0
Rajeev 2023   2023-2      2023-4   2023-12 2023-49      18905         0
Shiv   2023   2023-1      2023-1   2023-1  2023-3         270     16017

                                                    Housing  Education  \
Users  Yearly Half-Yearly Quaterly Monthly Weekly
Shiv   2023   2023-1      2023-1   2023-1  2023-4        24          0
Ankit  2022   2022-1      2022-1   2022-1  2022-5         0          0
Rajeev 2023   2023-2      2023-4   2023-10 2023-44        0          0
       2022   2022-2      2022-4   2022-11 2022-48        0          0
Ankit  2022   2022-1      2022-2   2022-5  2022-21        0          0
                          2022-1   2022-1  2022-52        0          0
Shiv   2022   2022-1      2022-1   2022-3  2022-9        51          0
       2023   2023-1      2023-2   2023-6  2023-26      632          0
Ankur  2023   2023-1      2023-1   2023-2  2023-8         0      13004
Saswat 2022   2022-2      2022-3   2022-8  2022-31     8288          0
       2023   2023-1      2023-1   2023-3  2023-9         9        235
Shiv   2022   2022-1      2022-1   2022-1  2022-4       107        866
Saswat 2023   2023-1      2023-2   2023-5  2023-21        0          0
                          2023-1   2023-1  2023-4     27097          0
Rajeev 2023   2023-2      2023-3   2023-7  2023-26        0          0
Ankur  2023   2023-2      2023-3   2023-8  2023-34     2007          0
Saswat 2022   2022-2      2022-4   2022-10 2022-39       96          0
Shiv   2023   2023-1      2023-2   2023-4  2023-14     2208          0
Saswat 2022   2022-1      2022-2   2022-4  2022-14     4886          1
                          2022-1   2022-1  2022-5         0          0
Ankur  2022   2022-2      2022-4   2022-11 2022-46     5106        508
Shiv   2022   2022-1      2022-1   2022-1  2022-5         0          0
Ankur  2023   2023-1      2023-2   2023-6  2023-26        0       4686
Rajeev 2022   2022-2      2022-4   2022-12 2022-50     6497       6945
       2023   2023-1      2023-2   2023-5  2023-18        0          0
Saswat 2023   2023-1      2023-1   2023-3  2023-13        2          0
Rajeev 2022   2022-1      2022-1   2022-1  2022-2         0          0
       2023   2023-1      2023-1   2023-1  2023-1       277        629
       2022   2022-2      2022-4   2022-10 2022-42        0          0
Shiv   2022   2022-1      2022-1   2022-1  2022-3         0       7230
Saswat 2022   2022-1      2022-1   2022-1  2022-4       796          0
Ankit  2022   2022-2      2022-3   2022-8  2022-33        0          0
Saswat 2023   2023-2      2023-3   2023-8  2023-34       59        478
Shiv   2023   2023-1      2023-2   2023-5  2023-20        0        152
                          2023-1   2023-1  2023-1         2          0
              2023-2      2023-4   2023-11 2023-44        0      16431
              2023-1      2023-2   2023-5  2023-22        0          0
Rajeev 2022   2022-1      2022-1   2022-2  2022-5         0        405
Shiv   2023   2023-2      2023-4   2023-10 2023-42       36       7339
Ankur  2022   2022-1      2022-1   2022-1  2022-1         0         23
Shiv   2022   2022-1      2022-2   2022-5  2022-20        0       3303
Ankit  2023   2023-2      2023-3   2023-9  2023-37       10         77
Shiv   2023   2023-1      2023-2   2023-5  2023-18        2       4691
Ankit  2023   2023-1      2023-2   2023-4  2023-13        0          0
Shiv   2023   2023-2      2023-4   2023-10 2023-44        0          0
Rajeev 2022   2022-2      2022-3   2022-8  2022-31     2783      11889
Saswat 2022   2022-1      2022-1   2022-1  2022-3      3586          0
Ankit  2022   2022-1      2022-1   2022-2  2022-8         0          0
Rajeev 2023   2023-2      2023-4   2023-12 2023-49     6345          0
Shiv   2023   2023-1      2023-1   2023-1  2023-3         1        375

                                                    Health  Travel  \
Users  Yearly Half-Yearly Quaterly Monthly Weekly
Shiv   2023   2023-1      2023-1   2023-1  2023-4        0       0
Ankit  2022   2022-1      2022-1   2022-1  2022-5        0       0
Rajeev 2023   2023-2      2023-4   2023-10 2023-44       0       0
       2022   2022-2      2022-4   2022-11 2022-48       0       0
Ankit  2022   2022-1      2022-2   2022-5  2022-21     392    4113
                          2022-1   2022-1  2022-52       0       0
Shiv   2022   2022-1      2022-1   2022-3  2022-9        4       0
       2023   2023-1      2023-2   2023-6  2023-26       0      72
Ankur  2023   2023-1      2023-1   2023-2  2023-8     1503       0
Saswat 2022   2022-2      2022-3   2022-8  2022-31     116       0
       2023   2023-1      2023-1   2023-3  2023-9     9422      13
Shiv   2022   2022-1      2022-1   2022-1  2022-4        0       0
Saswat 2023   2023-1      2023-2   2023-5  2023-21    2284     538
                          2023-1   2023-1  2023-4       95       0
Rajeev 2023   2023-2      2023-3   2023-7  2023-26       0       0
Ankur  2023   2023-2      2023-3   2023-8  2023-34       0   17444
Saswat 2022   2022-2      2022-4   2022-10 2022-39       0       0
Shiv   2023   2023-1      2023-2   2023-4  2023-14       0     109
Saswat 2022   2022-1      2022-2   2022-4  2022-14       0       7
                          2022-1   2022-1  2022-5        0       0
Ankur  2022   2022-2      2022-4   2022-11 2022-46      40       0
Shiv   2022   2022-1      2022-1   2022-1  2022-5        0       0
Ankur  2023   2023-1      2023-2   2023-6  2023-26       0   10633
Rajeev 2022   2022-2      2022-4   2022-12 2022-50      17       0
       2023   2023-1      2023-2   2023-5  2023-18    1866       0
Saswat 2023   2023-1      2023-1   2023-3  2023-13     780       0
Rajeev 2022   2022-1      2022-1   2022-1  2022-2       93    3305
       2023   2023-1      2023-1   2023-1  2023-1     4033       0
       2022   2022-2      2022-4   2022-10 2022-42       0   19702
Shiv   2022   2022-1      2022-1   2022-1  2022-3        0    2187
Saswat 2022   2022-1      2022-1   2022-1  2022-4       83       0
Ankit  2022   2022-2      2022-3   2022-8  2022-33       0     556
Saswat 2023   2023-2      2023-3   2023-8  2023-34       0   18664
Shiv   2023   2023-1      2023-2   2023-5  2023-20     544       0
                          2023-1   2023-1  2023-1        0       0
              2023-2      2023-4   2023-11 2023-44       0     297
              2023-1      2023-2   2023-5  2023-22       0       0
Rajeev 2022   2022-1      2022-1   2022-2  2022-5     3897     388
Shiv   2023   2023-2      2023-4   2023-10 2023-42       5    2207
Ankur  2022   2022-1      2022-1   2022-1  2022-1      122      26
Shiv   2022   2022-1      2022-2   2022-5  2022-20       0      87
Ankit  2023   2023-2      2023-3   2023-9  2023-37    1212       0
Shiv   2023   2023-1      2023-2   2023-5  2023-18       1       0
Ankit  2023   2023-1      2023-2   2023-4  2023-13       0    2892
Shiv   2023   2023-2      2023-4   2023-10 2023-44       0       3
Rajeev 2022   2022-2      2022-3   2022-8  2022-31       0    1734
Saswat 2022   2022-1      2022-1   2022-1  2022-3       78     234
Ankit  2022   2022-1      2022-1   2022-2  2022-8        0       0
Rajeev 2023   2023-2      2023-4   2023-12 2023-49       0    4170
Shiv   2023   2023-1      2023-1   2023-1  2023-3     4291      12

                                                    Entertainment  Gambling  \
Users  Yearly Half-Yearly Quaterly Monthly Weekly
Shiv   2023   2023-1      2023-1   2023-1  2023-4           28386         0
Ankit  2022   2022-1      2022-1   2022-1  2022-5           12822         0
Rajeev 2023   2023-2      2023-4   2023-10 2023-44            345         0
       2022   2022-2      2022-4   2022-11 2022-48          22353     85344
Ankit  2022   2022-1      2022-2   2022-5  2022-21          45811     11216
                          2022-1   2022-1  2022-52           5511         0
Shiv   2022   2022-1      2022-1   2022-3  2022-9           49239        56
       2023   2023-1      2023-2   2023-6  2023-26          54933         6
Ankur  2023   2023-1      2023-1   2023-2  2023-8           57220     40695
Saswat 2022   2022-2      2022-3   2022-8  2022-31          84009     15090
       2023   2023-1      2023-1   2023-3  2023-9           44009     56319
Shiv   2022   2022-1      2022-1   2022-1  2022-4           73098         4
Saswat 2023   2023-1      2023-2   2023-5  2023-21          38314     64377
                          2023-1   2023-1  2023-4           47141         0
Rajeev 2023   2023-2      2023-3   2023-7  2023-26          12612         0
Ankur  2023   2023-2      2023-3   2023-8  2023-34          59445         0
Saswat 2022   2022-2      2022-4   2022-10 2022-39           2577         0
Shiv   2023   2023-1      2023-2   2023-4  2023-14          55437         0
Saswat 2022   2022-1      2022-2   2022-4  2022-14          66836         0
                          2022-1   2022-1  2022-5            1602         0
Ankur  2022   2022-2      2022-4   2022-11 2022-46          73104     23077
Shiv   2022   2022-1      2022-1   2022-1  2022-5           13202         0
Ankur  2023   2023-1      2023-2   2023-6  2023-26          32738         0
Rajeev 2022   2022-2      2022-4   2022-12 2022-50          45166         0
       2023   2023-1      2023-2   2023-5  2023-18          46305     22824
Saswat 2023   2023-1      2023-1   2023-3  2023-13          41005         0
Rajeev 2022   2022-1      2022-1   2022-1  2022-2           50049     16701
       2023   2023-1      2023-1   2023-1  2023-1           34113         3
       2022   2022-2      2022-4   2022-10 2022-42          60557      8855
Shiv   2022   2022-1      2022-1   2022-1  2022-3           46797         0
Saswat 2022   2022-1      2022-1   2022-1  2022-4           75304        15
Ankit  2022   2022-2      2022-3   2022-8  2022-33          57973      3779
Saswat 2023   2023-2      2023-3   2023-8  2023-34          46589         0
Shiv   2023   2023-1      2023-2   2023-5  2023-20          57231      1082
                          2023-1   2023-1  2023-1           44313         0
              2023-2      2023-4   2023-11 2023-44          27033         0
              2023-1      2023-2   2023-5  2023-22          24808         0
Rajeev 2022   2022-1      2022-1   2022-2  2022-5           44727        11
Shiv   2023   2023-2      2023-4   2023-10 2023-42          70058         0
Ankur  2022   2022-1      2022-1   2022-1  2022-1           40938     13997
Shiv   2022   2022-1      2022-2   2022-5  2022-20          78877      3406
Ankit  2023   2023-2      2023-3   2023-9  2023-37          68204     22940
Shiv   2023   2023-1      2023-2   2023-5  2023-18          50693         0
Ankit  2023   2023-1      2023-2   2023-4  2023-13           3425         2
Shiv   2023   2023-2      2023-4   2023-10 2023-44          25930         0
Rajeev 2022   2022-2      2022-3   2022-8  2022-31          35549       405
Saswat 2022   2022-1      2022-1   2022-1  2022-3           60286      2818
Ankit  2022   2022-1      2022-1   2022-2  2022-8           63779       108
Rajeev 2023   2023-2      2023-4   2023-12 2023-49          54916        13
Shiv   2023   2023-1      2023-1   2023-1  2023-3           41583        79

                                                      Tax  Fines
Users  Yearly Half-Yearly Quaterly Monthly Weekly
Shiv   2023   2023-1      2023-1   2023-1  2023-4       0      0
Ankit  2022   2022-1      2022-1   2022-1  2022-5       0      0
Rajeev 2023   2023-2      2023-4   2023-10 2023-44      0      0
       2022   2022-2      2022-4   2022-11 2022-48      0    771
Ankit  2022   2022-1      2022-2   2022-5  2022-21      0      0
                          2022-1   2022-1  2022-52      0      0
Shiv   2022   2022-1      2022-1   2022-3  2022-9       0      0
       2023   2023-1      2023-2   2023-6  2023-26      0      0
Ankur  2023   2023-1      2023-1   2023-2  2023-8       0      0
Saswat 2022   2022-2      2022-3   2022-8  2022-31  14146      0
       2023   2023-1      2023-1   2023-3  2023-9       0      0
Shiv   2022   2022-1      2022-1   2022-1  2022-4       6      0
Saswat 2023   2023-1      2023-2   2023-5  2023-21      0      0
                          2023-1   2023-1  2023-4       4      1
Rajeev 2023   2023-2      2023-3   2023-7  2023-26      1   2661
Ankur  2023   2023-2      2023-3   2023-8  2023-34      0     33
Saswat 2022   2022-2      2022-4   2022-10 2022-39      0      0
Shiv   2023   2023-1      2023-2   2023-4  2023-14      0      0
Saswat 2022   2022-1      2022-2   2022-4  2022-14   3708     20
                          2022-1   2022-1  2022-5       0      0
Ankur  2022   2022-2      2022-4   2022-11 2022-46      0      0
Shiv   2022   2022-1      2022-1   2022-1  2022-5       0      0
Ankur  2023   2023-1      2023-2   2023-6  2023-26      0      0
Rajeev 2022   2022-2      2022-4   2022-12 2022-50    928     52
       2023   2023-1      2023-2   2023-5  2023-18   9479      5
Saswat 2023   2023-1      2023-1   2023-3  2023-13     51      0
Rajeev 2022   2022-1      2022-1   2022-1  2022-2       0      0
       2023   2023-1      2023-1   2023-1  2023-1     891      0
       2022   2022-2      2022-4   2022-10 2022-42      0   3534
Shiv   2022   2022-1      2022-1   2022-1  2022-3     140      0
Saswat 2022   2022-1      2022-1   2022-1  2022-4       4      0
Ankit  2022   2022-2      2022-3   2022-8  2022-33   1047     19
Saswat 2023   2023-2      2023-3   2023-8  2023-34      0      0
Shiv   2023   2023-1      2023-2   2023-5  2023-20      0   3699
                          2023-1   2023-1  2023-1    2501      7
              2023-2      2023-4   2023-11 2023-44      0      2
              2023-1      2023-2   2023-5  2023-22     14      8
Rajeev 2022   2022-1      2022-1   2022-2  2022-5     103      0
Shiv   2023   2023-2      2023-4   2023-10 2023-42    557      0
Ankur  2022   2022-1      2022-1   2022-1  2022-1    1780      0
Shiv   2022   2022-1      2022-2   2022-5  2022-20      0      4
Ankit  2023   2023-2      2023-3   2023-9  2023-37      0      0
Shiv   2023   2023-1      2023-2   2023-5  2023-18     83    622
Ankit  2023   2023-1      2023-2   2023-4  2023-13      0      0
Shiv   2023   2023-2      2023-4   2023-10 2023-44      0      0
Rajeev 2022   2022-2      2022-3   2022-8  2022-31      2      0
Saswat 2022   2022-1      2022-1   2022-1  2022-3       0      3
Ankit  2022   2022-1      2022-1   2022-2  2022-8     332   3557
Rajeev 2023   2023-2      2023-4   2023-12 2023-49    999      0
Shiv   2023   2023-1      2023-1   2023-1  2023-3       0      0

In [7]:
df_weekly

,Groceries,Clothing,Housing,Education,Health,Travel,Entertainment,Gambling,Tax,Fines
Users,,,,,,,,,,
Ankit,324757,460989,196523,361426,71370,79899,5757974,1083832,88746,47556
Ankur,371899,442232,221039,279159,67176,137095,5550665,638792,67279,36112
Rajeev,288081,450259,207068,307166,41138,187010,5376272,952761,50128,27573
Saswat,302602,258529,195777,393730,83607,207966,5405702,677981,96626,31952
Shiv,319479,441280,199430,291081,71553,122568,5386989,471500,105755,40577

In [8]:
dic = {"Weekly": "W",
       "Monthly": "M",
       "Quaterly": "3M",
       "Half-Yearly": "6M",
       "Yearly": "Y"
}
data_frames = {}
for key, value in dic.items():
    data_frames[key] = df.groupby("Users")[["Groceries",
    "Clothing",
    "Housing",
    "Education",
    "Health",
    "Travel",
    "Entertainment",
    "Gambling",
    "Tax",
    "Fines"]].resample(value).sum().groupby("Users")

C:\Users\beher\AppData\Local\Temp\ipykernel_13784\2843187299.py:18: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "Fines"]].resample(value).sum().groupby("Users")
C:\Users\beher\AppData\Local\Temp\ipykernel_13784\2843187299.py:18: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "Fines"]].resample(value).sum().groupby("Users")
C:\Users\beher\AppData\Local\Temp\ipykernel_13784\2843187299.py:18: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "Fines"]].resample(value).sum().groupby("Users")
C:\Users\beher\AppData\Local\Temp\ipykernel_13784\2843187299.py:18: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  "Fines"]].resample(value).sum().groupby("Users")

In [9]:
data_frames

{'Weekly': <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015F9CA22350>,
 'Monthly': <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015F9C9EA150>,
 'Quaterly': <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015F9C9EA8D0>,
 'Half-Yearly': <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015F9C9EA990>,
 'Yearly': <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015F9C9EAA50>}

In [10]:
data_frames["Weekly"].sum()

,Groceries,Clothing,Housing,Education,Health,Travel,Entertainment,Gambling,Tax,Fines
Users,,,,,,,,,,
Ankit,324757,460989,196523,361426,71370,79899,5757974,1083832,88746,47556
Ankur,371899,442232,221039,279159,67176,137095,5550665,638792,67279,36112
Rajeev,288081,450259,207068,307166,41138,187010,5376272,952761,50128,27573
Saswat,302602,258529,195777,393730,83607,207966,5405702,677981,96626,31952
Shiv,319479,441280,199430,291081,71553,122568,5386989,471500,105755,40577

In [11]:
data_weekly = {
    "Max": data_frames["Weekly"].max().T,
    "Min": data_frames["Weekly"].min().T,
    "Mean": data_frames["Weekly"].mean().T,
    "Median": data_frames["Weekly"].median().T
}
data1 = pd.concat(
    data_weekly,
    names=["Functions"]
)
data1

Users                           Ankit         Ankur         Rajeev  \
Functions
Max       Groceries      14075.000000  16539.000000   15223.000000
          Clothing       73206.000000  45132.000000   63749.000000
          Housing        33626.000000  29477.000000   28876.000000
          Education      73330.000000  42705.000000   56186.000000
          Health          9838.000000   9399.000000    5050.000000
          Travel         12128.000000  15966.000000   19607.000000
          Entertainment  97481.000000  92322.000000  101070.000000
          Gambling       92815.000000  61494.000000   98452.000000
          Tax             7818.000000   9996.000000    8825.000000
          Fines           6320.000000   6377.000000    4896.000000
Min       Groceries          0.000000      0.000000       0.000000
          Clothing           0.000000      0.000000       0.000000
          Housing            0.000000      0.000000       0.000000
          Education          0.000000      0.000000       0.000000
          Health             0.000000      0.000000       0.000000
          Travel             0.000000      0.000000       0.000000
          Entertainment   9143.000000   3854.000000   13454.000000
          Gambling           0.000000      0.000000       0.000000
          Tax                0.000000      0.000000       0.000000
          Fines              0.000000      0.000000       0.000000
Mean      Groceries       3092.923810   3541.895238    2743.628571
          Clothing        4390.371429   4211.733333    4288.180952
          Housing         1871.647619   2105.133333    1972.076190
          Education       3442.152381   2658.657143    2925.390476
          Health           679.714286    639.771429     391.790476
          Travel           760.942857   1305.666667    1781.047619
          Entertainment  54837.847619  52863.476190   51202.590476
          Gambling       10322.209524   6083.733333    9073.914286
          Tax              845.200000    640.752381     477.409524
          Fines            452.914286    343.923810     262.600000
Median    Groceries       1808.000000   1366.000000     827.000000
          Clothing           0.000000      0.000000       0.000000
          Housing            3.000000      2.000000       0.000000
          Education          1.000000      3.000000       0.000000
          Health             0.000000      0.000000       0.000000
          Travel             0.000000      5.000000       2.000000
          Entertainment  53271.000000  52202.000000   50891.000000
          Gambling           4.000000      9.000000       8.000000
          Tax                2.000000      0.000000       0.000000
          Fines              0.000000      0.000000       0.000000

Users                          Saswat          Shiv
Functions
Max       Groceries      20292.000000  17994.000000
          Clothing       49324.000000  49920.000000
          Housing        26109.000000  24810.000000
          Education      68366.000000  47887.000000
          Health         10199.000000   9138.000000
          Travel         20480.000000  19836.000000
          Entertainment  94530.000000  90129.000000
          Gambling       89395.000000  88186.000000
          Tax            11930.000000  15007.000000
          Fines           4478.000000   4514.000000
Min       Groceries          0.000000      0.000000
          Clothing           0.000000      0.000000
          Housing            0.000000      0.000000
          Education          0.000000      0.000000
          Health             0.000000      0.000000
          Travel             0.000000      0.000000
          Entertainment  18471.000000  19454.000000
          Gambling           0.000000      0.000000
          Tax                0.000000      0.000000
          Fines              0.000000      0.000000
Mean      Groceries       2881.923810   3042.657143
          Clothing        2462.180952   4202.666667
          Housing         1864.542857   1899.333333
          Education       3749.809524   2772.200000
          Health           796.257143    681.457143
          Travel          1980.628571   1167.314286
          Entertainment  51482.876190  51304.657143
          Gambling        6456.961905   4490.476190
          Tax              920.247619   1007.190476
          Fines            304.304762    386.447619
Median    Groceries       1590.000000   1199.000000
          Clothing           1.000000     12.000000
          Housing            1.000000      2.000000
          Education          0.000000      1.000000
          Health             0.000000      0.000000
          Travel             0.000000      0.000000
          Entertainment  51166.000000  49977.000000
          Gambling           9.000000     31.000000
          Tax                0.000000      1.000000
          Fines              0.000000      0.000000

In [12]:
data_monthly = {
    "Max": data_frames["Monthly"].max().T,
    "Min": data_frames["Monthly"].min().T,
    "Mean": data_frames["Monthly"].mean().T,
    "Median": data_frames["Monthly"].median().T
}
data2 = pd.concat(
    data_monthly,
    names=["Functions"]
)
data2

Users                            Ankit          Ankur         Rajeev  \
Functions
Max       Groceries       28215.000000   31280.000000   34013.000000
          Clothing        97641.000000   86557.000000  102367.000000
          Housing         36833.000000   46117.000000   46226.000000
          Education       73332.000000   47942.000000   56484.000000
          Health          12445.000000   26578.000000    5052.000000
          Travel          16130.000000   29831.000000   37799.000000
          Entertainment  320797.000000  284048.000000  299864.000000
          Gambling       187882.000000  102997.000000  139728.000000
          Tax              9302.000000   12130.000000   14652.000000
          Fines            9678.000000    6427.000000    4896.000000
Min       Groceries          84.000000    4308.000000     393.000000
          Clothing            0.000000       0.000000       0.000000
          Housing            14.000000       0.000000       0.000000
          Education           0.000000       1.000000       0.000000
          Health              0.000000       0.000000       0.000000
          Travel              0.000000       0.000000       0.000000
          Entertainment  170875.000000  177410.000000  124306.000000
          Gambling            0.000000       0.000000       4.000000
          Tax                11.000000       0.000000      15.000000
          Fines               0.000000       0.000000       0.000000
Mean      Groceries       13531.541667   15495.791667   12003.375000
          Clothing        19207.875000   18426.333333   18760.791667
          Housing          8188.458333    9209.958333    8627.833333
          Education       15059.416667   11631.625000   12798.583333
          Health           2973.750000    2799.000000    1714.083333
          Travel           3329.125000    5712.291667    7792.083333
          Entertainment  239915.583333  231277.708333  224011.333333
          Gambling        45159.666667   26616.333333   39698.375000
          Tax              3697.750000    2803.291667    2088.666667
          Fines            1981.500000    1504.666667    1148.875000
Median    Groceries       12193.000000   14670.500000    9921.500000
          Clothing         7987.500000   10501.000000    2420.500000
          Housing          3649.500000    2908.500000    2621.500000
          Education       10070.000000    2346.500000     612.500000
          Health            648.500000     768.000000     557.500000
          Travel            464.000000    3265.000000    6093.500000
          Entertainment  246052.000000  231156.500000  223573.000000
          Gambling        25174.500000    9323.500000   13587.000000
          Tax              3721.000000    1119.000000     159.500000
          Fines             679.500000     838.000000     152.000000

Users                           Saswat           Shiv
Functions
Max       Groceries       48792.000000   35331.000000
          Clothing        55624.000000   72499.000000
          Housing         26109.000000   35904.000000
          Education       75825.000000   71197.000000
          Health          15042.000000    9910.000000
          Travel          36169.000000   35486.000000
          Entertainment  312431.000000  264985.000000
          Gambling       136335.000000   93628.000000
          Tax             15994.000000   25946.000000
          Fines            4491.000000    7612.000000
Min       Groceries         456.000000    2441.000000
          Clothing            0.000000       0.000000
          Housing             0.000000       0.000000
          Education           1.000000       0.000000
          Health              0.000000       0.000000
          Travel              0.000000       0.000000
          Entertainment  176429.000000  154279.000000
          Gambling           16.000000      31.000000
          Tax                 0.000000       5.000000
          Fines               0.000000       4.000000
Mean      Groceries       12608.416667   13311.625000
          Clothing        10772.041667   18386.666667
          Housing          8157.375000    8309.583333
          Education       16405.416667   12128.375000
          Health           3483.625000    2981.375000
          Travel           8665.250000    5107.000000
          Entertainment  225237.583333  224457.875000
          Gambling        28249.208333   19645.833333
          Tax              4026.083333    4406.458333
          Fines            1331.333333    1690.708333
Median    Groceries       10734.000000   10788.000000
          Clothing         2780.500000    9519.500000
          Housing          3663.000000    6236.500000
          Education        9624.000000    2922.000000
          Health           1443.000000    1613.000000
          Travel           3450.000000    1100.000000
          Entertainment  217116.000000  225866.500000
          Gambling         7825.000000    5605.500000
          Tax              2054.000000    3287.000000
          Fines             572.500000     895.000000

In [13]:
data_quaterly = {
    "Max": data_frames["Quaterly"].max().T,
    "Min": data_frames["Quaterly"].min().T,
    "Mean": data_frames["Quaterly"].mean().T,
    "Median": data_frames["Quaterly"].median().T
}
data3 = pd.concat(
    data_quaterly,
    names=["Functions"]
)
data3

Users                            Ankit          Ankur         Rajeev  \
Functions
Max       Groceries       57856.000000   54687.000000   57508.000000
          Clothing       142390.000000  120197.000000  105172.000000
          Housing         52454.000000   70668.000000   66135.000000
          Education       74366.000000   53122.000000   77557.000000
          Health          20321.000000   29638.000000    9440.000000
          Travel          19073.000000   40545.000000   58581.000000
          Entertainment  815836.000000  764864.000000  724240.000000
          Gambling       222976.000000  185475.000000  206389.000000
          Tax             16564.000000   17789.000000   14877.000000
          Fines           10186.000000    7870.000000    9755.000000
Min       Groceries       11253.000000   24859.000000    6530.000000
          Clothing            2.000000     142.000000     740.000000
          Housing           244.000000    2294.000000    3303.000000
          Education         820.000000    4686.000000     621.000000
          Health            786.000000     402.000000       2.000000
          Travel            386.000000     412.000000    6128.000000
          Entertainment  250296.000000  223922.000000  270797.000000
          Gambling        10892.000000    2868.000000   15385.000000
          Tax                28.000000      98.000000     153.000000
          Fines             111.000000     344.000000       0.000000
Mean      Groceries       36084.111111   41322.111111   32009.000000
          Clothing        51221.000000   49136.888889   50028.777778
          Housing         21835.888889   24559.888889   23007.555556
          Education       40158.444444   31017.666667   34129.555556
          Health           7930.000000    7464.000000    4570.888889
          Travel           8877.666667   15232.777778   20778.888889
          Entertainment  639774.888889  616740.555556  597363.555556
          Gambling       120425.777778   70976.888889  105862.333333
          Tax              9860.666667    7475.444444    5569.777778
          Fines            5284.000000    4012.444444    3063.666667
Median    Groceries       35473.000000   43080.000000   31655.000000
          Clothing        31839.000000   37406.000000   42870.000000
          Housing         19066.000000   20730.000000   11618.000000
          Education       40555.000000   30677.000000   21700.000000
          Health           5726.000000    2780.000000    3644.000000
          Travel          11068.000000   14177.000000   21543.000000
          Entertainment  705835.000000  682421.000000  665847.000000
          Gambling       121622.000000   59754.000000  106156.000000
          Tax             11077.000000    5749.000000    2760.000000
          Fines            5497.000000    3503.000000    1501.000000

Users                           Saswat           Shiv
Functions
Max       Groceries       70260.000000   68142.000000
          Clothing        79301.000000  105427.000000
          Housing         42613.000000   45564.000000
          Education       81281.000000   80317.000000
          Health          16577.000000   25269.000000
          Travel          50710.000000   37594.000000
          Entertainment  757472.000000  751156.000000
          Gambling       205234.000000  112136.000000
          Tax             19770.000000   29448.000000
          Fines            8051.000000   10467.000000
Min       Groceries        7741.000000   12487.000000
          Clothing         1808.000000    3535.000000
          Housing           698.000000     260.000000
          Education         185.000000    3290.000000
          Health              5.000000     784.000000
          Travel             77.000000     364.000000
          Entertainment  196050.000000  206771.000000
          Gambling         8228.000000    4473.000000
          Tax               991.000000    3194.000000
          Fines             892.000000     277.000000
Mean      Groceries       33622.444444   35497.666667
          Clothing        28725.444444   49031.111111
          Housing         21753.000000   22158.888889
          Education       43747.777778   32342.333333
          Health           9289.666667    7950.333333
          Travel          23107.333333   13618.666667
          Entertainment  600633.555556  598554.333333
          Gambling        75331.222222   52388.888889
          Tax             10736.222222   11750.555556
          Fines            3550.222222    4508.555556
Median    Groceries       32495.000000   28719.000000
          Clothing        30530.000000   36519.000000
          Housing         29009.000000   19748.000000
          Education       32360.000000   26599.000000
          Health          10169.000000    8071.000000
          Travel          28535.000000   17597.000000
          Entertainment  660413.000000  690881.000000
          Gambling        75071.000000   41208.000000
          Tax             10849.000000    8183.000000
          Fines            3058.000000    4581.000000

In [14]:
data_half_yearly = {
    "Max": data_frames["Half-Yearly"].max().T,
    "Min": data_frames["Half-Yearly"].min().T,
    "Mean": data_frames["Half-Yearly"].mean().T,
    "Median": data_frames["Half-Yearly"].median().T
}
data4 = pd.concat(
    data_half_yearly,
    names=["Functions"]
)
data4

Users                        Ankit      Ankur     Rajeev     Saswat       Shiv
Functions
Max       Groceries        92580.0    97767.0    74500.0   101395.0   103945.0
          Clothing        188902.0   135091.0   151898.0   109831.0   183539.0
          Housing          91792.0   113641.0    70874.0    69699.0    62251.0
          Education       106307.0    83799.0   147698.0   129749.0   132618.0
          Health           21499.0    36186.0    13084.0    27299.0    27719.0
          Travel           30141.0    54722.0    83606.0    97005.0    39509.0
          Entertainment  1521671.0  1485944.0  1376104.0  1464723.0  1442037.0
          Gambling        381041.0   245229.0   312545.0   262344.0   221172.0
          Tax              24037.0    23397.0    17637.0    35942.0    41073.0
          Fines            16726.0    11062.0    11416.0    13147.0    15048.0
Min       Groceries        11253.0    26137.0     6530.0     7741.0    28719.0
          Clothing             2.0    31002.0     7414.0    13226.0    10437.0
          Housing           2378.0    13109.0     8059.0     1728.0    21769.0
          Education        27306.0    20470.0    19826.0      185.0     6216.0
          Health            3468.0     2064.0        2.0        5.0     3957.0
          Travel            8097.0      412.0    10364.0       77.0     3070.0
          Entertainment   250296.0   223922.0   270797.0   196050.0   206771.0
          Gambling         75072.0     2868.0    99148.0    25035.0     7069.0
          Tax                 28.0       98.0     1052.0      991.0     3194.0
          Fines              111.0     1280.0        0.0      892.0      277.0
Mean      Groceries        64951.4    74379.8    57616.2    60520.4    63895.8
          Clothing         92197.8    88446.4    90051.8    51705.8    88256.0
          Housing          39304.6    44207.8    41413.6    39155.4    39886.0
          Education        72285.2    55831.8    61433.2    78746.0    58216.2
          Health           14274.0    13435.2     8227.6    16721.4    14310.6
          Travel           15979.8    27419.0    37402.0    41593.2    24513.6
          Entertainment  1151594.8  1110133.0  1075254.4  1081140.4  1077397.8
          Gambling        216766.4   127758.4   190552.2   135596.2    94300.0
          Tax              17749.2    13455.8    10025.6    19325.2    21151.0
          Fines             9511.2     7222.4     5514.6     6390.4     8115.4
Median    Groceries        80028.0    82789.0    69852.0    62070.0    65508.0
          Clothing         77570.0   111975.0   100889.0    39336.0    61987.0
          Housing          37512.0    26321.0    41366.0    47633.0    44765.0
          Education        79788.0    58188.0    47541.0    96660.0    45075.0
          Health           18450.0    11568.0     9220.0    24089.0    13182.0
          Travel           12735.0    23994.0    29102.0    42297.0    36160.0
          Entertainment  1338148.0  1273958.0  1239707.0  1248661.0  1200118.0
          Gambling        189495.0   147807.0   160873.0   152010.0    76209.0
          Tax              21468.0    12411.0    11078.0    20844.0    21944.0
          Fines            10260.0     9886.0     4728.0     6891.0     6874.0

In [15]:
data_yearly = {
    "Max": data_frames["Yearly"].max().T,
    "Min": data_frames["Yearly"].min().T,
    "Mean": data_frames["Yearly"].mean().T,
    "Median": data_frames["Yearly"].median().T
}
data5 = pd.concat(
    data_yearly,
    names=["Functions"]
)
data5

Users                        Ankit      Ankur     Rajeev     Saswat       Shiv
Functions
Max       Groceries       172313.0   190041.0   151791.0   159083.0   199262.0
          Clothing        231879.0   265888.0   276613.0   159296.0   322493.0
          Housing         108134.0   129005.0   120250.0   109819.0   131801.0
          Education       214478.0   160410.0   216197.0   218661.0   189258.0
          Health           42762.0    49019.0    20768.0    51789.0    54002.0
          Travel           43257.0    84212.0   121925.0   107722.0    79616.0
          Entertainment  2902774.0  2928154.0  2710778.0  2787670.0  2768933.0
          Gambling        557270.0   380634.0   532236.0   390586.0   237872.0
          Tax              45516.0    34932.0    35335.0    59392.0    62831.0
          Fines            24729.0    19218.0    14602.0    16667.0    27139.0
Min       Groceries       152444.0   181858.0   136290.0   143519.0   120217.0
          Clothing        229110.0   176344.0   173646.0    99233.0   118787.0
          Housing          88389.0    92034.0    86818.0    85958.0    67629.0
          Education       146948.0   118749.0    90969.0   175069.0   101823.0
          Health           28608.0    18157.0    20370.0    31818.0    17551.0
          Travel           36642.0    52883.0    65085.0   100244.0    42952.0
          Entertainment  2855200.0  2622511.0  2665494.0  2618032.0  2618056.0
          Gambling        526562.0   258158.0   420525.0   287395.0   233628.0
          Tax              43230.0    32347.0    14793.0    37234.0    42924.0
          Fines            22827.0    16894.0    12971.0    15285.0    13438.0
Mean      Groceries       162378.5   185949.5   144040.5   151301.0   159739.5
          Clothing        230494.5   221116.0   225129.5   129264.5   220640.0
          Housing          98261.5   110519.5   103534.0    97888.5    99715.0
          Education       180713.0   139579.5   153583.0   196865.0   145540.5
          Health           35685.0    33588.0    20569.0    41803.5    35776.5
          Travel           39949.5    68547.5    93505.0   103983.0    61284.0
          Entertainment  2878987.0  2775332.5  2688136.0  2702851.0  2693494.5
          Gambling        541916.0   319396.0   476380.5   338990.5   235750.0
          Tax              44373.0    33639.5    25064.0    48313.0    52877.5
          Fines            23778.0    18056.0    13786.5    15976.0    20288.5
Median    Groceries       162378.5   185949.5   144040.5   151301.0   159739.5
          Clothing        230494.5   221116.0   225129.5   129264.5   220640.0
          Housing          98261.5   110519.5   103534.0    97888.5    99715.0
          Education       180713.0   139579.5   153583.0   196865.0   145540.5
          Health           35685.0    33588.0    20569.0    41803.5    35776.5
          Travel           39949.5    68547.5    93505.0   103983.0    61284.0
          Entertainment  2878987.0  2775332.5  2688136.0  2702851.0  2693494.5
          Gambling        541916.0   319396.0   476380.5   338990.5   235750.0
          Tax              44373.0    33639.5    25064.0    48313.0    52877.5
          Fines            23778.0    18056.0    13786.5    15976.0    20288.5

In [16]:
data_merged = {
    "Weekly": data1,
    "Monthly": data2,
    "Quaterly": data3,
    "Half-Yearly": data4,
    "Yearly": data5
}
data = pd.concat(
    data_merged,
    names=["Aggr. Types"]
)

In [17]:
final_data = data.T

In [18]:
final_data

Aggr. Types    Weekly                                                \
Functions         Max
            Groceries Clothing  Housing Education   Health   Travel
Users
Ankit         14075.0  73206.0  33626.0   73330.0   9838.0  12128.0
Ankur         16539.0  45132.0  29477.0   42705.0   9399.0  15966.0
Rajeev        15223.0  63749.0  28876.0   56186.0   5050.0  19607.0
Saswat        20292.0  49324.0  26109.0   68366.0  10199.0  20480.0
Shiv          17994.0  49920.0  24810.0   47887.0   9138.0  19836.0

Aggr. Types                                          ...    Yearly            \
Functions                                            ...    Median
            Entertainment Gambling      Tax   Fines  ... Groceries  Clothing
Users                                                ...
Ankit             97481.0  92815.0   7818.0  6320.0  ...  162378.5  230494.5
Ankur             92322.0  61494.0   9996.0  6377.0  ...  185949.5  221116.0
Rajeev           101070.0  98452.0   8825.0  4896.0  ...  144040.5  225129.5
Saswat            94530.0  89395.0  11930.0  4478.0  ...  151301.0  129264.5
Shiv              90129.0  88186.0  15007.0  4514.0  ...  159739.5  220640.0

Aggr. Types                                                                 \
Functions
              Housing Education   Health    Travel Entertainment  Gambling
Users
Ankit         98261.5  180713.0  35685.0   39949.5     2878987.0  541916.0
Ankur        110519.5  139579.5  33588.0   68547.5     2775332.5  319396.0
Rajeev       103534.0  153583.0  20569.0   93505.0     2688136.0  476380.5
Saswat        97888.5  196865.0  41803.5  103983.0     2702851.0  338990.5
Shiv          99715.0  145540.5  35776.5   61284.0     2693494.5  235750.0

Aggr. Types
Functions
                 Tax    Fines
Users
Ankit        44373.0  23778.0
Ankur        33639.5  18056.0
Rajeev       25064.0  13786.5
Saswat       48313.0  15976.0
Shiv         52877.5  20288.5

[5 rows x 200 columns]

In [19]:
final_data.to_csv("Data.csv")

In [20]:
final_data["Quaterly"]["Min"]["Fines"].Shiv

np.float64(277.0)